.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;

    &__info {
        margin: 20px 0 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid #f7cc50;
        padding: 10px;
    }
    &__title {
        font-size: 18px;
    }
    &__link {
        display: inline-block;
        padding: 0.5px 4px;
        transition: all ease 0.2s;
    }
    &__link:hover {
        background-color: #f7cc50;
    }
}
