.header {
    margin-bottom: 10px;
    background-color: #f7cc50;
    padding: 10px;

    @media (max-width: 1024px) {
        margin-bottom: 38px;
    }
    @media (max-width: 768px) {
        margin-bottom: 31px;
    }
    @media (max-width: 540px) {
        margin-bottom: 19px;
    }
}
