.card {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    border: 1px solid #f7cc50;

    &__title {
        font-size: 16px;
        font-weight: 600;
    }
    &__info {
        display: flex;
        gap: 20px;
        font-size: 14px;
        color: gray;
    }
}
